{% extends 'ingreso/acceso.twig' %}

{% block title %}
  {{ 'Register::Page' }}
{% endblock %}

{% block style %}
 <link href="{{ assets('css/checkboxes-bulma.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">
                    Bienvenido (a)
                </h3>
                <p class="subtitle has-text-grey">
                    Registrate y accede las funciones principales
                </p>
                <div class="box pb-4">
                    <form action="{{ router('register') }}" autocomplete="off" method="POST">
                        {{ csrf() }}
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="nombre" placeholder="Nombre" type="text"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="apellido" placeholder="Apellido" type="text"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="correo" placeholder="Correo" type="email"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="telefono" placeholder="Telefono" type="number"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" placeholder="Contraseña" type="password"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="password" placeholder="Repetir Contraseña" type="password"></input>
                            </p>
                        </div>

                        <div class="field is-pulled-left">
                            <p class="control">
                                <div class="b-checkbox is-info">
                                    <input checked="" class="styled" name="tyc" id="checkbox" type="checkbox">
                                        <label for="checkbox">
                                            Aceptar terminos y condiciones <a href="">tyc</a>
                                        </label>
                                    </input>
                                </div>
                            </p>
                        </div>

                        <div class="is-pulled-left">
                            <button class="button is-primary" type="submit">
                                Registrarme
                            </button>
                            <button class="button is-danger" type="reset">
                                Cancelar
                            </button>
                        </div>
                       <br>
                       <br>
                       <br>
                       <br>
                        <a href="{{ router('login') }}">Iniciar sesión</a>
                        {{ flash('error') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{##
<!--

<div class="container mx-auto py-10">
    <div class="h-auto flex justify-center">
        <form class="w-full max-w-lg" method="POST" action="{{ router(register) }}">
            <h2 class="font-mono relative font-black text-gray-600 text-4xl pb-1">
                Login
            </h2>
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="nombre">
                        Nombre
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="nombre" name="nombre" placeholder="Nombre" type="text">
                    </input>
                </div>
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="apellido">
                        Apellido
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="apellido" name="apellido" placeholder="Apellido" type="text">
                    </input>
                </div>
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="correo">
                        Correo
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="correo" name="email" placeholder="E-mail" type="email">
                    </input>
                </div>
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="telefono">
                        Telefono
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="telefono" name="telefono" placeholder="Telefono" type="number">
                    </input>
                </div>
            </div>
           

            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password1">
                        Contraseña
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="password1" placeholder="******************" type="password">
                    </input>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password">
                        Confirmar contraseña
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="password" name="password" placeholder="******************" type="password">
                        <p class="text-red-500 text-xs italic">
                            Las contraseña no coinciden
                        </p>
                    </input>
                </div>
            </div>
            {{ csrf() }}
            <button class="bg-green-400 mt-3 hover:bg-green-500 text-white font-bold py-2 px-4 rounded" type="submit">
                Registrarme
            </button>
            <button class="bg-red-500 mt-3 hover:bg-green-500 text-white font-bold py-2 px-4 rounded" type="reset">
                Cancelar
            </button>
            <div class="mt-3">
                <a class="mr-5 text-blue-300" href="{{ router(lossPass) }}">
                    ¿Olvide mi contraseña?
                </a>
                <a class="text-blue-300" href="{{ router(login) }}">
                    ¡Tengo una cuenta!
                </a>
            </div>
            <br>
                {{ flash(error) }}
            </br>
        </form>
    </div>
</div>
-->
##}
