{% extends 'ingreso/acceso.twig' %}

{% block title %}
  {{ 'Register::Page' }}
{% endblock %}

{% block style %}
 <link href="{{ assets('css/checkboxes-bulma.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">
                    Bienvenido (a)
                </h3>
                <p class="subtitle has-text-grey">
                    Registrate y accede las funciones principales
                </p>
                <div class="box pb-4">
                    <form action="{{ router('register') }}" autocomplete="off" method="POST">
                        {{ csrf() }}
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="nombre" value="tester" placeholder="Nombre" type="text"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="apellido" value="tester jose" placeholder="Apellido" type="text"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="correo" value="tester@tes.com" placeholder="Correo" type="email"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="telefono"  value="3012344567" placeholder="Telefono" type="number"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" placeholder="Contraseña" value="123456789" type="password"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" name="password" value="123456789" placeholder="Repetir Contraseña" type="password"></input>
                            </p>
                        </div>

                        <div class="field is-pulled-left">
                            <p class="control">
                                <div class="b-checkbox is-info">
                                    <input checked="" class="styled" name="tyc" id="checkbox" type="checkbox">
                                        <label for="checkbox">
                                            Aceptar terminos y condiciones <a href="">tyc</a>
                                        </label>
                                    </input>
                                </div>
                            </p>
                        </div>

                        <div class="is-pulled-left">
                            <button class="button is-primary" type="submit">
                                Registrarme
                            </button>
                            <button class="button is-danger" type="reset">
                                Cancelar
                            </button>
                        </div>
                       <br>
                       <br>
                       <br>
                       <br>
                        <a href="{{ router('login') }}">Iniciar sesión</a>
                        {{ flash('error') }}
                        {{ flash('warning') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
